@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<div class="page">
    <div class="sidebar">
        <FluentMenu>
            @foreach (var item in MenuItems)
            {
                <FluentMenuItem @onclick='args => NavigationManager.NavigateTo(item.Value)'>
                    @item.Key
                </FluentMenuItem>
            }
        </FluentMenu>
    </div>

    <main>
        @Body
    </main>
</div>
