@page "/miner"

<PageTitle>Miner</PageTitle>

<h1>Miner</h1>

<button class="btn btn-primary" @onclick="NewGame">New Game</button>

<div class="miner-board">
    @for (var i = 0; i < _board.Columns; i++)
    {
        for (var j = 0; j < _board.Rows; j++)
        {
            var cell = _board[i, j];
            if (cell.HasBomb)
            {
                <FluentButton style="height: 60px">
                    <img src="bomb.png" />
                </FluentButton>
            }
            else
            {
                <FluentButton style="height: 60px">
                    @cell.BombsAround
                </FluentButton>
            }
        }
    }
</div>